.content .news {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .news ul {
  padding-bottom: 1.4rem;
}
.content .news li {
  overflow: hidden;
  max-height: 6.199999999999999rem;
  margin: 0.5999999999999999rem 1rem 0rem;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: justify;
  -webkit-column-count: 1;
  column-count: 1;
}
.content .news li .icons {
  float: left;
}
.content .news li .icons img.touch {
  background-color: #23394d;
}
.content .news li .article {
  padding: 0.65rem 0.8rem 0.8rem;
}
.content .news li .article.touch {
  background: #23394d;
}
.content .news li .article .title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Raleway-SemiBold';
}
.content .news li.open {
  max-height: 42rem;
}
.header .news .title {
  width: 7rem;
}
.header .news .newsCal {
  background-color: #007acc;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0;
  padding: 0.8rem 0.8rem;
  height: 1.4rem;
}
.header .news .newsCal.touch {
  background-color: #0069bb;
}
.header .news .newsCal .light {
  color: rgba(255, 255, 255, 0.5);
}
