.content .settings {
  overflow-x: hidden;
  overflow-y: scroll;
}
.content .settings table {
  margin: 0 0 0.5rem;
  width: 100%;
}
.content .settings table tr {
  height: 4.6rem;
}
.content .settings table tr.heading {
  height: 1.7999999999999998rem;
  font-size: 0.3 rem;
  background-color: #343235;
}
.content .settings table tr.space {
  height: 0rem;
}
.content .settings table tr.space td {
  line-height: 0rem;
}
.content .settings table tr td:last-child {
  padding-right: 1rem;
  text-align: right;
}
.content .settings table tr td:first-child {
  padding-left: 1rem;
  text-align: left;
  font-size: .8rem;
  line-height: .9rem;
}
.content .settings table tr td:first-child:first-line {
  font-family: 'Raleway-SemiBold';
  font-size: 1rem;
  line-height: 1.4rem;
}
.content .settings table tr input,
.content .settings table tr select {
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  padding-left: 0.8rem;
}
.footer .settings img {
  display: block;
  vertical-align: middle;
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.8rem;
}
