.content .settings {
    overflow-x: hidden;
    overflow-y: scroll;

    table {
        margin: 0 0 1/6*@header-height;
        width: 100%;

        tr {
            height: @header-height + 2*@item-padding;

            td:last-child {
                padding-right: @body-padding;
                text-align: right;
            }

            td:first-child {
                padding-left: @body-padding;
                text-align: left;

                font-size: @font-small-size;
                line-height: @font-small-lineheight;
            }

            &.heading {
                height: 1/2*@header-height;
                font-size: @font-small-size;
                line-height: @font-small-lineheight;
                background-color: @color-bgr-light-2;
            }

            &:not(.heading) td:first-child:first-line {
                font-family: 'Raleway-SemiBold';
                font-size: @font-regular-size;
                line-height: @font-regular-lineheight;
            }
        }

        input[type=text],
        input[type=password],
        .select {
            display: block;
            width: 100%;
            height: @header-height;
            line-height: @header-height;
            box-sizing: border-box;
            border-radius: 0;
            color: @color-font-light;
            font-size: 1rem;
        }
    }
}

.footer .settings img {
    padding: 0;
    margin: 0;
}