@import "../../style/_colors.less";
@import "../../style/_dimens.less";

.content .settings {
    overflow-x: hidden;
    overflow-y: scroll;

    table {
        margin: 0 0 1/6*@header-height;
        width: 100%;
        tr {
            height: @header-height + 2*@item-padding;
            &.heading {
                height: 3/5*@header-height;
                font-size: 3/10*rem;
                background-color: @color-bgr + #111;
            }
            &.space {
                height: 0*@header-height;
                td { line-height: 0*@header-height; }
            }

            td:last-child {
                padding-right: @body-padding;
                text-align: right;
            }
            td:first-child {
                padding-left: @body-padding;
                text-align: left;

                font-size: .8rem;
                line-height: .9rem;

                &:first-line {
                    font-family: 'Raleway-SemiBold';
                    font-size: 1rem;
                    line-height: 1.4rem;
                }
            }

            input,select {
                width: 100%;
                height: @header-height;
                box-sizing: border-box;
                padding-left: @item-padding;
            }
        }
    }
}

.footer .settings img {
    display: inline-block;
    vertical-align: middle;
    height: @line-height;
    width: @line-height;
    padding: 0.5*(@header-height - @line-height);
}