@color-main: #007ACC; // 0, 122, 204
@color-yes: #7ACC00; // 122, 204, 0
@color-no: @color-font;

@color-bgr: #232124;
@color-bgr-light: @color-bgr + #4c4c4c; // #6f6d70
@color-bgr-whity: @color-bgr-light + #4c4c4c; // #bbb9bc
@color-bgr-white: #eeecef; // #bbb9bc
@color-bgr-yes: @color-yes;
@color-bgr-no: @color-bgr-light;

@color-font: rgba(255,255,255,0.9); // 229,5 -> #e5ffff
@color-font-lighter: rgba(255,255,255,0.7); // 178,5 -> #b2ffff
@color-font-light: rgba(255,255,255,0.5); // 127,5 -> #7ffaff

@color-fak01: #073A73;
@color-fak07: #00A2C9;