@color-main: #007ACC;
@color-yes: #7ACC00;
@color-no: @color-font;

@color-bgr: #232124;
@color-bgr-light: @color-bgr + #4c4c4c; // #6f6d70
@color-bgr-whity: @color-bgr-light + #4c4c4c; // #bbb9bc
@color-bgr-yes: @color-yes;
@color-bgr-no: @color-bgr-light;

@color-font: rgba(255,255,255,0.9);
@color-font-lighter: rgba(255,255,255,0.7);
@color-font-light: rgba(255,255,255,0.5);

@color-fak07: #00A2C9;