@color-main: #007ACC; // 0, 122, 204
@color-yes: #7ACC00; // 122, 204, 0
@color-no: @color-font;

@color-bgr: #232124;
@color-bgr-light: @color-bgr + #4c4c4c; // #6f6d70
@color-bgr-whity: @color-bgr-light + #4c4c4c; // #bbb9bc
@color-bgr-white: #eeecef; // #bbb9bc
@color-bgr-yes: @color-yes;
@color-bgr-no: @color-bgr-light;

@color-font: rgba(255,255,255,0.9); // 229,5 -> #e5ffff
@color-font-lighter: rgba(255,255,255,0.7); // 178,5 -> #b2ffff
@color-font-light: rgba(255,255,255,0.5); // 127,5 -> #7ffaff

@color-fak01: #073A73;
@color-fak02: #008BAA;
@color-fak03: #0085BF;
@color-fak04: #1B95AA;
@color-fak05: #005CA7;
@color-fak06: #064F9E;
@color-fak07: #00A2C9;
@color-fak08: #007F80;
@color-fak09: #06845E;
@color-fak10: #1D978C;
@color-fak11: #EF7B14;
@color-fak12: #3FB859;
@color-fak13: #B4217C;
@color-fak14: #8C2447;