/* Device scaling with em */
html, body { font-size: 20px; }
@media screen and (-webkit-min-device-pixel-ratio: 0.75)    { html, body { font-size: 12px; } } /* Low density (120),        ldpi  */
@media screen and (-webkit-min-device-pixel-ratio: 1)       { html, body { font-size: 16px; } }   /* Medium density (160),     mdpi  */
@media screen and (-webkit-min-device-pixel-ratio: 1.5)     { html, body { font-size: 24px; } }   /* High density (240),       hdpi  */
@media screen and (-webkit-min-device-pixel-ratio: 2)       { html, body { font-size: 32px; } }   /* Extra high density (320), xhdpi */