/* Device scaling with em */
html, body { font-size: 16px; }
@media screen and (-webkit-min-device-pixel-ratio: 0.75)    { html, body { font-size: 12px; } }   /* ldpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1)       { html, body { font-size: 16px; } }   /* mdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.1875)  { html, body { font-size: 19px; } }
@media screen and (-webkit-min-device-pixel-ratio: 1.5)     { html, body { font-size: 24px; } }   /* hdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.6)     { html, body { font-size: 25.6px; } }
@media screen and (-webkit-min-device-pixel-ratio: 1.7)     { html, body { font-size: 27.2px; } }
@media screen and (-webkit-min-device-pixel-ratio: 2)       { html, body { font-size: 32px; } }   /* xhdpi  */

//@media screen and (-webkit-min-device-pixel-ratio: 2)
//              and (max-device-width: 1440px)                 { html, body { font-size: 16px; } }   /* iphone 4/4s, Nexus 4  */

@media screen and (-webkit-min-device-pixel-ratio: 2.37)    { html, body { font-size: 37.9px; } }
@media screen and (-webkit-min-device-pixel-ratio: 3)       { html, body { font-size: 48px; } }   /* xxhdpi */


@line-height: 1.4em;
@header-height: 3em; // -> 48dp (3*16px)
@sidebar-width: 85%;