/* OOCSS */
.fl { float: left; }
.fr { float: right; }
.l0 { left: 0; }
.r0 { right: 0; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.y { color: @color-yes; }
.n { color: @color-no; }