.courses {
    ul {
        padding: @line-height @body-padding;
    }

    .sem1,
    .sem2,
    .sem3,
    .sem4,
    .sem5,
    .sem6,
    .sem7 { display: none; }

    &[ data-list='1' ] { .sem1 { display: block; } }
    &[ data-list='2' ] { .sem2 { display: block; } }
    &[ data-list='3' ] { .sem3 { display: block; } }
    &[ data-list='4' ] { .sem4 { display: block; } }
    &[ data-list='5' ] { .sem5 { display: block; } }
    &[ data-list='6' ] { .sem6 { display: block; } }
    &[ data-list='7' ] { .sem7 { display: block; } }
}

.coursesSem {

    span {
        width: 12.5%;
        text-align: center;
        padding: 0.5*(@header-height - @line-height) 0;
    }

    &.fak07 {
        span:nth-child(1) { background-color: @color-fak07 - 3*#050505; }
        span:nth-child(2) { background-color: @color-fak07 - 2*#050505; }
        span:nth-child(3) { background-color: @color-fak07 - 1*#050505; }
        span:nth-child(4) { background-color: @color-fak07 - 0*#050505; }
        span:nth-child(5) { background-color: @color-fak07 + 1*#050505; }
        span:nth-child(6) { background-color: @color-fak07 + 2*#050505; }
        span:nth-child(7) { background-color: @color-fak07 + 3*#050505; }
        span:nth-child(8) { background-color: @color-fak07 + 4*#050505; }
    }
}