@height: 3em;

.header {
    min-height: @height;
}

.headerheight {
    height: @height;
}

.header > .view {
    height: 100%;
}

.header .mheader {

    img {
        margin: 0.3*@height 0.6em 0;
        height: 0.4*@height;
    }

    &.fl {
        margin-left: 5%;
        img { margin-left: 0; }
    }
    
    &.fr {
        margin-right: 5%;
        img { margin-right: 0; }
    }
}

.header img.mheader {
    height: 0.4*@height;
    margin: 0.3*@height 0.6em 0;
}