@height: 3.6em;

.header {
    min-height: @height;
}

.headerheight {
    height: @height;
}

.header > .view {
    height: 100%;
}

.header img {
    /*width: 0.5*@height;*/
    height: 0.5*@height;
    margin: 0.25*@height 0.6em 0;
}