.header {
    min-height: @header-height;

    .mheader {
        height: @header-height;

        &.fl {
            margin-left: @body-padding;
            &.touch {
                background: @color-bgr + @color-main/5;
            }
        }

        &.fr {
            margin-right: @body-padding;
            &.touch {
                background: @color-bgr + @color-main/5;
            }
        }
    }

    .addition {
        margin: 0 @body-padding 0 @body-padding;
        height: @header-height;
        overflow: hidden;
        white-space: nowrap;

        span {
            height: @font-regular-lineheight;
            display: inline-block;
        }
    }
}

.headerHeight {
    height: @header-height;
}

.headerTitle {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    max-width: 52%;
    padding: 0.5*(@header-height - @font-regular-lineheight) @item-padding;
    display: inline-block;
    height: @font-regular-lineheight;
}