#login {
    background: url('../asset/img/login.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;

    form {
        background-color: @color-bgr;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 0 25%;
        padding: 1em 0;
        text-align: center;

        input, button {
            -webkit-text-shadow: none;
            text-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 1.5em;
            height: 2em;
            border: 0;
        }

        label {
            display: block;
            width: 80%;
            margin: auto;
            text-align: left;

            img {
                width: 6%;
                margin: 0 4% 0 0;
                height: auto;
            }

            input {
                color: #bbb;
                margin: 0 0 0.5em;
                width: 80%;
                padding: 0 5%;
            }
        }

        button {
            font-family: 'Raleway-Regular';
            color: @color-font-light;
            background-color: @color-bgr-yes;
            width: 80%;
        }
    }
}