@font-face {
    font-family: "TitilliumWebLight";
    src: url("../asset/font/TitilliumWeb-ExtraLight.ttf") format("opentype");
}
@font-face {
    font-family: "TitilliumWeb";
    src: url("../asset/font/TitilliumWeb-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "TitilliumWebBold";
    src: url("../asset/font/TitilliumWeb-Bold.ttf") format("opentype");
}

html,body {
    padding: 0;
    margin: 0;
    color: #e6e4e7;
    font-family: "TitilliumWebLight";
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fl { float: left; }
.fr { float: right; }

.sidebar {
    position: absolute;
    z-index: 1;
    width: 75%;
    display: none;
}

.view {
    display: none;
}
#content .view,
#header .view {
    display: block;
}

.header {
    height: 25px;
    padding: 10px;
    text-align: center;
}

.header:after {
    content: "\00a0";
    display: block;
    background-color: rgba(255,255,255,0.1);
    line-height: 1px;
    width: 90%;
    margin: auto;
}

.header img {
    width: 15px;
    height: 20px;
    margin: 2.5px 5px 5px 5px;
}

#body {
    position: absolute;
    z-index: 2;
    background: #232124;
    width: 100%;

    -webkit-transition-duration: .2s;
            transition-duration: .2s;
}

#body.right {
    -webkit-transform: translate3d(75%, 0, 0);
            transform: translate3d(75%, 0, 0);
}

#body.left {
    -webkit-transform: translate3d(-75%, 0, 0);
            transform: translate3d(-75%, 0, 0);
}

#content {
    position: relative;
}