* {
  position: relative;
  padding: 0;
  margin: 0;
}

html,body {
    background: @color-bgr;
    color: #e6e4e7;
    font-family: "Raleway-Regular";

    -webkit-tap-highlight-color: rgba(0,0,0,0);
            tap-highlight-color: rgba(0,0,0,0);
}

ul, li {
  list-style-type: none;
}

.view { display: none; }

#content .view,
#header .view { display: block; }

#body {
    position: absolute;
    z-index: 2;
    background: @color-bgr;
    width: 100%;

    -webkit-transition-duration: .2s;
            transition-duration: .2s;
}

#body.right {
    -webkit-transform: translate3d(75%, 0, 0);
            transform: translate3d(75%, 0, 0);
}

#body.left {
    -webkit-transform: translate3d(-75%, 0, 0);
            transform: translate3d(-75%, 0, 0);
}