.news {
    padding: 0.5em;
}

.news li {
    max-height: 3em;
    line-height: 1em;
    overflow: hidden;
    margin: 0.25em 0.5em 0.5em 0.5em;
    padding: 0 0 0 0.75em;
    text-overflow: ellipsis;

    -webkit-transition: max-height .5s ease-in-out;
            transition: max-height .5s ease-in-out;

    -webkit-transform: translate3d(0,0,0);
}

.news li.new {
}

.news li.open {
    max-height: 30em;
}

.news li:first-line {
    font-family: 'TitilliumWeb';
}

.news li img {
    float: left;
    width: 1.6em;
    height: 1.6em;
    margin: 0.2em 0.5em 0 0.3em;
    padding: 0;
}

.news li .footer {
    margin: 0.25em 0;
}