@line-height: 1.3em;

.news {
    padding: 0.5em;
    margin: 0 0.5em 0 0;
}

.news li {
    max-height: @line-height*3;
    line-height: @line-height;
    overflow: hidden;
    margin: 0.25em 0.5em 0.5em 0.5em;
    padding: 0 0 0 0.75em;
    text-overflow: ellipsis;

    -webkit-transition: max-height .5s ease-in-out;
            transition: max-height .5s ease-in-out;

    -webkit-transform: translate3d(0,0,0);
}

.news li.new {
}

.news li.open {
    max-height: @line-height*30;
}

.news li:first-line {
    font-family: 'Raleway-SemiBold';
}

.news li img {
    float: left;
    width: 2em;
    height: 2em;
    margin: (@line-height - 1em) 0.6em 0 0;
    padding: 0;
}

.news li .footer {
    margin: 0.25em 0;
}