.content .news {
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
        padding-bottom: @line-height;
    }

    li {
        overflow: hidden;
        max-height: @line-height*4 - 0.05em + @item-padding - 0.15em;
        margin: @line-height - @item-padding @body-padding 0em;

        -webkit-transition: max-height .5s ease-in-out;
                transition: max-height .5s ease-in-out;
        -webkit-transform: translate3d(0,0,0);
        text-align: justify;
        -webkit-column-count: 1;
                column-count: 1;

        .icons {
            float: left;
            img.touch {
                background-color: @color-bgr + @color-main/5;
            }
        }

        .article {
            padding: @item-padding - 0.15em @item-padding @item-padding;
            &.touch {
                background: @color-bgr + @color-main/5;
            }
            &:first-line {
                color: @color-font;
            }
        }

        &.open {
            max-height: @line-height*30;
        }
    }
}

.header .news {
    .title {
        width: 7em;
    }
    .newsCal {
        background-color: @color-main;
        color: @color-font;
        margin-right: 0;
        padding: 0.5*(@header-height - @line-height) @item-padding;
        height: @line-height;

        &.touch {
            background-color: @color-main - #111;
        }

        .light {
            color: @color-font-light;
        }
    }
}