@line-height: 1.3em;

.news {
    overflow-y: scroll;
    overflow-x: hidden;

    li {
        overflow: hidden;
        line-height: @line-height;
        max-height: @line-height*3;
        margin: 2.5% 5%;

        -webkit-transition: max-height .5s ease-in-out;
                transition: max-height .5s ease-in-out;

        -webkit-transform: translate3d(0,0,0);

        text-align: justify;
        -webkit-column-count: 1;
                column-count: 1;

        &.long {
            max-height: @line-height*5;
            margin: 1.5em 5%;
        }

        &.open {
            max-height: @line-height*30;
        }

        &:first-line {
            font-family: 'Raleway-SemiBold';
        }

        .footer {
            margin: 0.25em 0;
        }

        img {
            float: left;
            width: 2em*1.32;
            height: 2em;
            margin: (@line-height - 1em) 0.6em 0 0;
            padding: 0;
        }
    }
}

.header .news-cal {
    background-color: @color-main;
    padding: 5%;
    height: 1em;
    line-height: 1em;
    color: rgba(255,255,255,0.9);

    span {
        height: 1.2em;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    .light {
        color: rgba(255,255,255,0.5);
    }
}