.news {
    padding: 10px;
}

.news li {
    max-height: 54px;
    line-height: 18px;
    overflow: hidden;
    margin: 5px 10px;
    padding: 0px 0px 0px 15px;
    text-overflow: ellipsis;
    border-left: 5px solid transparent;

    -webkit-transition: max-height .5s ease-in-out;
            transition: max-height .5s ease-in-out;

    -webkit-transform: translate3d(0,0,0);
}

.news li.new {
    border-left: 5px solid transparent;
}

.news li.open {
    max-height: 200px;
}

.news li:first-line {
    font-family: 'TitilliumWeb';
}

.news li img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px 5px 5px 0px;
    padding: 6px;
    border: 0px solid rgba(255,255,255,0.2);
}