
/**
 *
 * Horizontal Scrollbar
 *
 */
.scrollbarH {
    position:absolute;
    z-index:100;
    height:10px;
    bottom:1px;
    left:2px;
    right:7px
}

.scrollbarH > div {
    position:absolute;
    z-index:100;
    height:100%;

    /*background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));*/
    /*background-image:-moz-linear-gradient(top, #f00, #900);*/
    /*background-image:-o-linear-gradient(top, #f00, #900);*/

    background-color: rgba(255,255,255,0.2);

    border:0px;

    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    -o-background-clip:padding-box;
    background-clip:padding-box;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}


/**
 *
 * Vertical Scrollbar
 *
 */
.scrollbarV {
    position:absolute;
    z-index:100;
    width:10px;
    bottom:7px;
    top:2px;
    right:1px
}

.scrollbarV > div {
    position:absolute;
    z-index:100;
    width:50%;

    /*background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));*/
    /*background-image:-moz-linear-gradient(top, #f00, #900);*/
    /*background-image:-o-linear-gradient(top, #f00, #900);*/

    background-color: rgba(255,255,255,0.2);

    border:0px;

    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    -o-background-clip:padding-box;
    background-clip:padding-box;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
