#sidebarRight {
    /*background-color: #565457;#232124*/
    background-color: #232124;
    color: #232124;
    right: 0;
    font-family: 'TitilliumWeb';
}


#sidebarRight ul {
    padding: 50px 10px 10px 25px;
}

#sidebarRight li {
    width: 80%;
    height: 25px;
    padding: 10px 5px;
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    background-color: rgba(255,255,255,0.1);
}

#sidebarRight li img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    padding: 2.5px;
    border: 0px solid rgba(255,255,255,0.2);
}
