.sidebar {
    position: absolute;
    z-index: 1;
    width: 75%;
    display: none;
    background-color: @color-bgr;
    color: @color-bgr;
    font-family: 'Raleway-SemiBold';
}

.sidebar ul {
    padding: 3.75em 0.75em 0.75em 1.875em;
}

.sidebar ul li {
    width: 80%;
    height: 1.875em;
    padding: 0.75em 0.375em;
    line-height: 1.875em;
    overflow: hidden;
    margin-bottom: 0.375em;
    text-overflow: ellipsis;
    background-color: #565457;
}

.sidebar ul li img {
    float: left;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.75em;
    padding: 0.125em;
    border: 0 solid rgba(255,255,255,0.2);
}