.sidebar {
    position: absolute;
    z-index: 1;
    width: @sidebar-width;
    display: none;
    background-color: @color-bgr;

    .heading {
        padding: 0.5*(@header-height - @line-height) @body-padding;
    }

    ul {
        &.navList {
            padding: @header-height 0 0 0;
            li img {
                margin: 0 auto;
            }
        }

        &.calList {
            padding: @header-height 0 0 0;
            li {
                width: 85%;
                padding: 0.5*@line-height @body-padding;
                height: 3*@line-height;
                overflow: hidden;
                color: @color-font-lighter;

                &:first-child {
                    background-color: @color-main;
                    color: @color-font-light;
                }

                div {
                    overflow: hidden;
                    white-space: nowrap;

                    &:first-child {
                        color: @color-font;
                    }
                }

                img {
                    float: left;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: 0 0.75rem;
                    padding: 0.125rem;
                    border: 0 solid rgba(255,255,255,0.2);
                }
            }
        }
    }

    &.small {
        width: @sidebar-width-small;
        background-color: @color-bgr-light;
        ul li.touch {
            background-color: @color-bgr-light - #111;
        }
    }
}