#sidebarLeft {
    background-color: #565457;
    left: 0;
}

#sidebarLeft .header {
    line-height: 33px;
    font-family: 'TitilliumWebBold';
    color: #232124;
}

#sidebarLeft ul {
    padding: 10px 10px 10px 25px;
}

#sidebarLeft li {
    width: 80%;
    height: 25px;
    padding: 10px 5px;
    border-left: 5px solid #131114;
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    background: #232124;
}

#sidebarLeft li img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    padding: 2.5px;
    border: 0px solid rgba(255,255,255,0.2);
}
