/* Device scaling with em */
html,
body {
  font-size: 16px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  html,
  body {
    font-size: 12px;
  }
}
/* ldpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  html,
  body {
    font-size: 16px;
  }
}
/* mdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.1875) {
  html,
  body {
    font-size: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  html,
  body {
    font-size: 24px;
  }
}
/* hdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.6) {
  html,
  body {
    font-size: 25.6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.7) {
  html,
  body {
    font-size: 27.2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 32px;
  }
}
/* xhdpi  */
@media screen and (-webkit-min-device-pixel-ratio: 2.37) {
  html,
  body {
    font-size: 37.9px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 48px;
  }
}
/* xxhdpi */
/* OOCSS */
.fl {
  float: left;
}
.fr {
  float: right;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.y {
  color: #7acc00;
}
.n {
  color: rgba(255, 255, 255, 0.9);
}
/* Raleway */
@font-face {
  font-family: "Raleway-Thin";
  src: url("../asset/font/Raleway-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../asset/font/Raleway-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../asset/font/Raleway-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../asset/font/Raleway-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../asset/font/Raleway-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../asset/font/Raleway-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Heavy";
  src: url("../asset/font/Raleway-Heavy.ttf") format("opentype");
}
/* TitilliumWeb */
@font-face {
  font-family: "TitilliumWeb-ExtraLight";
  src: url("../asset/font/TitilliumWeb-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../asset/font/TitilliumWeb-Light.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../asset/font/TitilliumWeb-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../asset/font/TitilliumWeb-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../asset/font/TitilliumWeb-Bold.ttf") format("opentype");
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
html,
body {
  background: #232124;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway-Regular";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
li {
  list-style-type: none;
}
img {
  height: 1.4em;
  vertical-align: middle;
}
.template,
.view {
  display: none;
}
#content .view,
#header .view {
  display: block;
}
#body {
  position: absolute;
  z-index: 2;
  background: #232124;
  width: 100%;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
#body.right {
  -webkit-transform: translate3d(85%, 0, 0);
  transform: translate3d(85%, 0, 0);
}
#body.left {
  -webkit-transform: translate3d(-85%, 0, 0);
  transform: translate3d(-85%, 0, 0);
}
.sidebar {
  position: absolute;
  z-index: 1;
  width: 85%;
  display: none;
  background-color: #232124;
}
.sidebar .heading {
  padding: 0.8em 5%;
}
.sidebar ul.navList {
  padding: 3em 0 0 0;
}
.sidebar ul.navList li {
  height: 1.4em;
  padding: 0.8em 5%;
}
.sidebar ul.navList li img {
  height: 1.4em;
  vertical-align: middle;
  margin-right: 0.7em;
}
.sidebar ul.calList {
  padding: 3em 0 0 0;
}
.sidebar ul.calList li {
  width: 85%;
  padding: 0.7em 5%;
  height: 4.199999999999999em;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
}
.sidebar ul.calList li:first-child {
  background-color: #007acc;
  color: rgba(255, 255, 255, 0.5);
}
.sidebar ul.calList li div {
  overflow: hidden;
  white-space: nowrap;
}
.sidebar ul.calList li div:first-child {
  color: rgba(255, 255, 255, 0.9);
}
.sidebar ul.calList li img {
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.75em;
  padding: 0.125em;
  border: 0 solid rgba(255, 255, 255, 0.2);
}
/* Vertical Scrollbar */
.scrollbarV {
  position: absolute;
  z-index: 100;
  width: 0.5em;
  bottom: 0.35em;
  top: 0.1em;
  right: 0.05em;
}
.scrollbarV > div {
  position: absolute;
  z-index: 100;
  width: 50%;
  background-color: #007acc;
  border: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  min-height: 3em;
  /* ToDo, fix this */

}
.header > .view {
  height: 100%;
}
.header .mheader img {
  margin: 0.8999999999999999em 0.6em 0;
  height: 1.2000000000000002em;
}
.header .mheader.fl {
  margin-left: 5%;
}
.header .mheader.fl img {
  margin-left: 0;
}
.header .mheader.fr {
  margin-right: 5%;
}
.header .mheader.fr img {
  margin-right: 0;
}
.header img.mheader {
  height: 1.2000000000000002em;
  margin: 0.8999999999999999em 0.6em 0;
}
.header .title {
  display: inline-block;
  margin-top: 0.8em;
}
.header .addition {
  margin: 0 3% 0 3%;
  height: 3em;
}
.header .addition span {
  height: 1.4em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.headerheight {
  height: 3em;
}
.news {
  overflow-y: scroll;
  overflow-x: hidden;
}
.news li {
  overflow: hidden;
  max-height: 6.95em;
  margin: 1.4em 5%;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: justify;
  -webkit-column-count: 1;
  column-count: 1;
}
.news li.date {
  max-height: 4.1499999999999995em;
  margin: 1.4em 5% 0;
}
.news li.dateDialog {
  /*margin-top: 0.5*(@line-height - 1em);*/

  margin-top: 0;
  text-align: center;
}
.news li.dateDialog .y {
  font-family: "Raleway-SemiBold";
}
.news li.dateDialog span {
  padding: 0.8em 0;
  display: inline-block;
  width: 48.611111111111114%;
  height: 1.4em;
}
.news li.dateDialog span img {
  height: 1.4em;
  vertical-align: middle;
  margin-right: 0.7em;
}
.news li.open {
  max-height: 42em;
}
.news li:first-line {
  color: rgba(255, 255, 255, 0.9);
}
.news li .footer {
  margin: 0.25em 0;
}
.news li > img {
  float: left;
  width: 2.64em;
  height: 2em;
  margin: 0.3999999999999999em 0.6em 0 0;
  padding: 0;
}
.header .newsCal {
  background-color: #007acc;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0;
  padding: 0.8em 2%;
  height: 1.4em;
}
.header .newsCal .light {
  color: rgba(255, 255, 255, 0.5);
}
.courses {
  overflow-y: scroll;
  overflow-x: hidden;
}
.courses ul {
  padding: 1.4em 5%;
}
.courses ul li {
  margin-bottom: 1em;
}
.courses ul li input,
.courses ul li .on,
.courses ul li .off {
  display: none;
}
.courses ul li.on .on {
  display: inline-block;
}
.courses ul li.off .off {
  display: inline-block;
}
.courses .sem1,
.courses .sem2,
.courses .sem3,
.courses .sem4,
.courses .sem5,
.courses .sem6,
.courses .sem7 {
  display: none;
}
.courses.list1 .sem1 {
  display: block;
}
.courses.list2 .sem2 {
  display: block;
}
.courses.list3 .sem3 {
  display: block;
}
.courses.list4 .sem4 {
  display: block;
}
.courses.list5 .sem5 {
  display: block;
}
.courses.list6 .sem6 {
  display: block;
}
.courses.list7 .sem7 {
  display: block;
}
.coursesSem span {
  width: 12.5%;
  text-align: center;
  padding: 0.8em 0;
}
.coursesSem.fak07 span:nth-child(1) {
  background-color: #0093ba;
}
.coursesSem.fak07 span:nth-child(2) {
  background-color: #0098bf;
}
.coursesSem.fak07 span:nth-child(3) {
  background-color: #009dc4;
}
.coursesSem.fak07 span:nth-child(4) {
  background-color: #00a2c9;
}
.coursesSem.fak07 span:nth-child(5) {
  background-color: #05a7ce;
}
.coursesSem.fak07 span:nth-child(6) {
  background-color: #0aacd3;
}
.coursesSem.fak07 span:nth-child(7) {
  background-color: #0fb1d8;
}
.coursesSem.fak07 span:nth-child(8) {
  background-color: #14b6dd;
}
