@import "_mediaqueries.less";
@import "_dimens.less";
@import "_fonts.less";
@import "_colors.less";
@import "_oocss.less";
@import "sidebar.less";
@import "scrollbar.less";
@import "header.less";
@import "flipswitch.less";
@import "semList.less";
@import "footer.less";

* {
    position: relative;
    padding: 0;
    margin: 0;
    line-height: @font-regular-lineheight;
}

html,body {
    background: @color-bgr;
    color: @color-font-light;
    font-family: "Raleway-Regular";

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

table {
    border-spacing:0;
    border-collapse:collapse;
}

ul, li {
    list-style-type: none;
}

img {
    display: block;
    vertical-align: middle;
    height: @font-regular-lineheight;
    width: @font-regular-lineheight;
    padding: 0.5*(@header-height - @font-regular-lineheight);
}

h1, h2, h3 {
    display: block;
    box-sizing: border-box;
}

h1 {
    margin: 2*@body-padding @body-padding;
    font-size: 3rem;
    font-family: 'Raleway-ExtraLight';
}

h3 {
    margin: @body-padding;
    font-size: 1rem;
    font-family: 'Raleway-Light';
}

input[type=text],
input[type=email],
input[type=password] {
    border: 0;
    border-bottom: 1px solid;
    background-color: @color-bgr + #050505;
    padding: 0 @item-padding;
}

/*
 * The Select menu of the WebView is buggy, this hack seems to work.
 */
.selectWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: @header-height;
    min-width: 14rem;

    select {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 4/5*@header-height;
        width: 100%;
        opacity: .01;
    }

    .select {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        border: 0;
        border-bottom: 1px solid @color-font-lighter;
        background-color: @color-bgr + #050505;
        padding: @item-padding;
        width: 100%;
        overflow: hidden;

        &:after {
            content: "";
            width: 2rem;
            height: 2rem;
            bottom: -1rem;
            right: -1rem;
            position: absolute;
            background: @color-font-lighter;
            transform: rotate(45deg);
            -webkit-transform:rotate(45deg);
        }

        .selectContent {
            overflow: hidden;
            width: 100%;
            height: 100%;
            white-space: nowrap;
        }
    }

    &.small {
        select {
            font-size: 11/20*@header-height;
        }

        .select {
            padding: .5*@item-padding;

            &:after {
                width: 2.8rem;
                height: 2.8rem;
                bottom: -1.4rem;
                right: -1.4rem;
            }
        }
    }
}

.button {
    width: 100%;
    height: @header-height;
    text-align: center;

    img {
        display: inline-block;
    }

    label {
        display: inline-block;
        padding: @item-padding @item-padding @item-padding 0;
        max-width: 80%;
    }

    &.by.touch { background-color: @color-bgr-yes - #111; }
    &.bn.touch { background-color: @color-bgr-no - #111; }
    &.be.touch { background-color: @color-bgr-e - #111; }
    &.bm.touch { background-color: @color-bgr-main - #111; }
}

.template,
.fragment { display: none; }

#overlay .fragment,
#content .fragment,
#header .fragment {
    display: block;
    height: 100%;
}

.full {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: @color-bgr;

    -webkit-transition-duration: .2s;
    transition-duration: .2s;

    &.right {
        -webkit-transform: translate3d(@sidebar-width-small, 0, 0);
        transform: translate3d(@sidebar-width-small, 0, 0);
    }

    &.left {
        -webkit-transform: translate3d(-@sidebar-width, 0, 0);
        transform: translate3d(-@sidebar-width, 0, 0);
    }
}
.overlay {
    z-index: 10;
    -webkit-transition-duration: .2s;
    -webkit-transform: translate3d(0,0,0);
    &.out {
        -webkit-transform: translate3d(0,-100%,0);
    }
}