/* Device scaling with em */
html,
body {
  font-size: 16px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  html,
  body {
    font-size: 12px;
  }
}
/* ldpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  html,
  body {
    font-size: 16px;
  }
}
/* mdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.1875) {
  html,
  body {
    font-size: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  html,
  body {
    font-size: 24px;
  }
}
/* hdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.6) {
  html,
  body {
    font-size: 25.6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.7) {
  html,
  body {
    font-size: 27.2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 32px;
  }
}
/* xhdpi  */
@media screen and (-webkit-min-device-pixel-ratio: 2.37) {
  html,
  body {
    font-size: 37.9px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 48px;
  }
}
/* xxhdpi */
/* OOCSS */
.fl {
  float: left;
}
.fr {
  float: right;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.ty {
  color: #7acc00;
}
.tn {
  color: rgba(255, 255, 255, 0.9);
}
.by {
  background-color: #7acc00;
}
.bn {
  background-color: #6f6d70;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.h100 {
  height: 100%;
}
.bo {
  background: black;
}
.bo > * {
  display: none;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
/* Raleway */
@font-face {
  font-family: "Raleway-Thin";
  src: url("../asset/font/Raleway-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../asset/font/Raleway-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../asset/font/Raleway-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../asset/font/Raleway-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../asset/font/Raleway-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../asset/font/Raleway-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Heavy";
  src: url("../asset/font/Raleway-Heavy.ttf") format("opentype");
}
/* TitilliumWeb */
@font-face {
  font-family: "TitilliumWeb-ExtraLight";
  src: url("../asset/font/TitilliumWeb-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../asset/font/TitilliumWeb-Light.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../asset/font/TitilliumWeb-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../asset/font/TitilliumWeb-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../asset/font/TitilliumWeb-Bold.ttf") format("opentype");
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
html,
body {
  background: #232124;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway-Regular";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul,
li {
  list-style-type: none;
}
img {
  display: block;
  vertical-align: middle;
  height: 1.4em;
  width: 1.4em;
  padding: 0.8em;
}
.template,
.view {
  display: none;
}
#content .view,
#header .view {
  display: block;
}
.full {
  position: absolute;
  z-index: 2;
  background: #232124;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
.full.right {
  -webkit-transform: translate3d(4em, 0, 0);
  transform: translate3d(4em, 0, 0);
}
.full.left {
  -webkit-transform: translate3d(-85%, 0, 0);
  transform: translate3d(-85%, 0, 0);
}
#login {
  background: url('../asset/img/login.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center bottom;
  z-index: 3;
  -webkit-transition-duration: .2s;
  -webkit-transform: translate3d(0, 0, 0);
}
#login.loggedIn {
  -webkit-transform: translate3d(0, -100%, 0);
}
#login table {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin: 0 10% 25%;
  padding: 1em 0;
  border-spacing: 0;
}
#login table td {
  background-color: #eeecef;
}
#login table .space {
  line-height: 0.5em;
  background-color: transparent;
}
#login table input,
#login table button {
  -webkit-text-shadow: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.5em;
  height: 2em;
  border: 0;
}
#login table .iconBackground {
  width: 3em;
  text-align: center;
  background-color: #232124;
}
#login table input {
  color: #bbb;
  background-color: #eeecef;
  padding: 0 5%;
  width: 80%;
}
#login table button {
  font-family: 'Raleway-Regular';
  color: rgba(255, 255, 255, 0.5);
  background-color: #7acc00;
  width: 100%;
}
#login table button.touch {
  background-color: #69bb00;
}
.sidebar {
  position: absolute;
  z-index: 1;
  width: 85%;
  display: none;
  background-color: #232124;
}
.sidebar .heading {
  padding: 0.8em 1em;
}
.sidebar ul.navList {
  padding: 3em 0 0 0;
}
.sidebar ul.navList li img {
  margin: 0 auto;
}
.sidebar ul.calList {
  padding: 3em 0 0 0;
}
.sidebar ul.calList li {
  width: 85%;
  padding: 0.7em 1em;
  height: 4.199999999999999em;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
}
.sidebar ul.calList li:first-child {
  background-color: #007acc;
  color: rgba(255, 255, 255, 0.5);
}
.sidebar ul.calList li div {
  overflow: hidden;
  white-space: nowrap;
}
.sidebar ul.calList li div:first-child {
  color: rgba(255, 255, 255, 0.9);
}
.sidebar ul.calList li img {
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.75em;
  padding: 0.125em;
  border: 0 solid rgba(255, 255, 255, 0.2);
}
.sidebar.small {
  width: 4em;
  background-color: #6f6d70;
}
.sidebar.small ul li.touch {
  background-color: #5e5c5f;
}
/* Vertical Scrollbar */
.scrollbarV {
  position: absolute;
  z-index: 100;
  width: 0.5em;
  bottom: 0.35em;
  top: 0.1em;
  right: 0.05em;
}
.scrollbarV > div {
  position: absolute;
  z-index: 100;
  width: 50%;
  background-color: #007acc;
  border: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  min-height: 3em;
}
.header > .view {
  height: 100%;
}
.header .mheader {
  height: 3em;
}
.header .mheader.fl {
  margin-left: 1em;
}
.header .mheader.fl.touch {
  background: #23394d;
}
.header .mheader.fr {
  margin-right: 1em;
}
.header .mheader.fr.touch {
  background: #23394d;
}
.header .title {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 0.8em 0.8em;
  display: inline-block;
}
.header .addition {
  margin: 0 1em 0 1em;
  height: 3em;
  overflow: hidden;
  white-space: nowrap;
}
.header .addition span {
  height: 1.4em;
  display: inline-block;
}
.headerheight {
  height: 3em;
}
.content .news {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .news ul {
  padding-bottom: 1.4em;
}
.content .news li {
  overflow: hidden;
  max-height: 6.199999999999999em;
  margin: 0.5999999999999999em 1em 0em;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: justify;
  -webkit-column-count: 1;
  column-count: 1;
}
.content .news li .icons {
  float: left;
}
.content .news li .icons img.touch {
  background-color: #23394d;
}
.content .news li .article {
  padding: 0.65em 0.8em 0.8em;
}
.content .news li .article.touch {
  background: #23394d;
}
.content .news li .article:first-line {
  color: rgba(255, 255, 255, 0.9);
}
.content .news li.open {
  max-height: 42em;
}
.header .news .title {
  width: 7em;
}
.header .news .newsCal {
  background-color: #007acc;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0;
  padding: 0.8em 0.8em;
  height: 1.4em;
}
.header .news .newsCal.touch {
  background-color: #0069bb;
}
.header .news .newsCal .light {
  color: rgba(255, 255, 255, 0.5);
}
.content .courses {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .courses ul {
  padding: 0 1em;
}
.content .courses ul li {
  margin-top: 0.65em;
}
.content .courses ul li label {
  min-height: 2.8em;
  display: block;
}
.content .courses ul li label.touch {
  background: #23394d;
}
.content .courses ul li label img {
  float: left;
}
.content .courses ul li label div {
  float: left;
  width: 80%;
  padding: 0.65em 0.8em 0.15em;
}
.content .courses ul li label div:first-line {
  color: rgba(255, 255, 255, 0.9);
}
.content .courses ul li .on,
.content .courses ul li .off {
  display: none;
}
.content .courses ul li.on .on {
  display: inline-block;
}
.content .courses ul li.off .off {
  display: inline-block;
}
.content .courses .sem1,
.content .courses .sem2,
.content .courses .sem3,
.content .courses .sem4,
.content .courses .sem5,
.content .courses .sem6,
.content .courses .sem7 {
  display: none;
}
.content .courses.list1 .sem1 {
  display: block;
}
.content .courses.list2 .sem2 {
  display: block;
}
.content .courses.list3 .sem3 {
  display: block;
}
.content .courses.list4 .sem4 {
  display: block;
}
.content .courses.list5 .sem5 {
  display: block;
}
.content .courses.list6 .sem6 {
  display: block;
}
.content .courses.list7 .sem7 {
  display: block;
}
.content .courses .footer {
  position: fixed;
  bottom: 0;
  height: 3em;
  width: 100%;
  padding: 0 1em;
  background-color: #232124;
  box-sizing: border-box;
}
.content .courses .footer .button {
  height: 3em;
  width: 49%;
  text-align: center;
}
.content .courses .footer .button label {
  display: inline-block;
  padding: 0.8em 0.8em 0.8em 0;
}
.content .courses .footer .button.by.touch {
  background-color: #69bb00;
}
.content .courses .footer .button.bn.touch {
  background-color: #5e5c5f;
}
.content .courses .footer .button img {
  display: inline-block;
}
.header .courses .coursesSem li {
  float: left;
  width: 12.5%;
  text-align: center;
  padding: 0.8em 0;
}
.header .courses .coursesSem li:last-child {
  padding: 0;
}
.header .courses .coursesSem.fak07 li:nth-child(1) {
  background-color: #0093ba;
}
.header .courses .coursesSem.fak07 li:nth-child(1).touch {
  background-color: #0082a9;
}
.header .courses .coursesSem.fak07 li:nth-child(2) {
  background-color: #0098bf;
}
.header .courses .coursesSem.fak07 li:nth-child(2).touch {
  background-color: #0087ae;
}
.header .courses .coursesSem.fak07 li:nth-child(3) {
  background-color: #009dc4;
}
.header .courses .coursesSem.fak07 li:nth-child(3).touch {
  background-color: #008cb3;
}
.header .courses .coursesSem.fak07 li:nth-child(4) {
  background-color: #00a2c9;
}
.header .courses .coursesSem.fak07 li:nth-child(4).touch {
  background-color: #0091b8;
}
.header .courses .coursesSem.fak07 li:nth-child(5) {
  background-color: #05a7ce;
}
.header .courses .coursesSem.fak07 li:nth-child(5).touch {
  background-color: #0096bd;
}
.header .courses .coursesSem.fak07 li:nth-child(6) {
  background-color: #0aacd3;
}
.header .courses .coursesSem.fak07 li:nth-child(6).touch {
  background-color: #009bc2;
}
.header .courses .coursesSem.fak07 li:nth-child(7) {
  background-color: #0fb1d8;
}
.header .courses .coursesSem.fak07 li:nth-child(7).touch {
  background-color: #00a0c7;
}
.header .courses .coursesSem.fak07 li:nth-child(8) {
  background-color: #14b6dd;
}
.header .courses .coursesSem.fak07 li:nth-child(8).touch {
  background-color: #03a5cc;
}
.settings ul li {
  display: block;
  padding: 0 5%;
}
