/* Device scaling with em */
html,
body {
  font-size: 16px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  html,
  body {
    font-size: 12px;
  }
}
/* ldpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  html,
  body {
    font-size: 16px;
  }
}
/* mdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.1875) {
  html,
  body {
    font-size: 19px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  html,
  body {
    font-size: 24px;
  }
}
/* hdpi   */
@media screen and (-webkit-min-device-pixel-ratio: 1.6) {
  html,
  body {
    font-size: 25.6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.7) {
  html,
  body {
    font-size: 27.2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 32px;
  }
}
/* xhdpi  */
@media screen and (-webkit-min-device-pixel-ratio: 2.37) {
  html,
  body {
    font-size: 37.9px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  html,
  body {
    font-size: 48px;
  }
}
/* xxhdpi *//* Raleway */
@font-face {
  font-family: "Raleway-Thin";
  src: url("../asset/font/Raleway-Thin.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../asset/font/Raleway-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Light";
  src: url("../asset/font/Raleway-Light.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../asset/font/Raleway-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../asset/font/Raleway-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../asset/font/Raleway-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Raleway-Heavy";
  src: url("../asset/font/Raleway-Heavy.ttf") format("opentype");
}
/* TitilliumWeb */
@font-face {
  font-family: "TitilliumWeb-ExtraLight";
  src: url("../asset/font/TitilliumWeb-ExtraLight.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../asset/font/TitilliumWeb-Light.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../asset/font/TitilliumWeb-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../asset/font/TitilliumWeb-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../asset/font/TitilliumWeb-Bold.ttf") format("opentype");
}
/* OOCSS */
.fl {
  float: left;
}
.fr {
  float: right;
}
.l0 {
  left: 0;
}
.r0 {
  right: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.ty {
  color: #7acc00;
}
.tn {
  color: rgba(0, 0, 0, 0.9);
}
.by {
  background-color: #7acc00;
}
.bn {
  background-color: #a2a0a3;
}
.be {
  background-color: #7a00cc;
}
.bm {
  background-color: #007acc;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.h100 {
  height: 100%;
}
.bo {
  background: black;
}
.bo > * {
  display: none;
}
.t4 {
  opacity: 0.6;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.sidebar {
  position: absolute;
  z-index: 1;
  width: 86%;
  display: none;
  background-color: #eeecef;
}
.sidebar .heading {
  padding: 0.8rem 1rem;
}
.sidebar ul.navList {
  padding: 3rem 0 0 0;
}
.sidebar ul.navList li img {
  margin: 0 auto;
}
.sidebar ul.timeline li {
  width: 85%;
  padding: 0.7rem 1rem;
  height: 4.199999999999999rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
}
.sidebar ul.timeline li:first-child {
  background-color: #007acc;
  color: rgba(0, 0, 0, 0.5);
}
.sidebar ul.timeline li div {
  overflow: hidden;
  white-space: nowrap;
}
.sidebar ul.timeline li div:first-child {
  color: rgba(0, 0, 0, 0.9);
}
.sidebar ul.timeline li img {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.75rem;
  padding: 0.125rem;
  border: 0 solid rgba(255, 255, 255, 0.2);
}
.sidebar.small {
  width: 4rem;
  background-color: #a2a0a3;
}
.sidebar.small ul li.touch {
  background-color: #918f92;
}
/* Vertical Scrollbar */
.scrollbarV {
  position: absolute;
  z-index: 100;
  width: 0.5rem;
  bottom: 0.35rem;
  top: 0.1rem;
  right: 0.05rem;
}
.scrollbarV > div {
  position: absolute;
  z-index: 100;
  width: 50%;
  background-color: #007acc;
  border: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header .mheader {
  height: 3rem;
}
.header .mheader.fl {
  margin-left: 1rem;
}
.header .mheader.fl.touch {
  background: #eeffff;
}
.header .mheader.fr {
  margin-right: 1rem;
}
.header .mheader.fr.touch {
  background: #eeffff;
}
.header .addition {
  margin: 0 1rem 0 1rem;
  height: 3rem;
  overflow: hidden;
  white-space: nowrap;
}
.header .addition span {
  height: 1.4rem;
  display: inline-block;
}
.headerHeight {
  height: 3rem;
}
.headerTitle {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  max-width: 70%;
  padding: 0.8rem 0.8rem;
  display: inline-block;
  height: 1.4rem;
}
.onoffswitch {
  float: right;
  position: relative;
  width: 6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: .125rem solid #FFFFF;
  border-radius: 0;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.2s ease-in 0s;
  -webkit-transition: margin 0.2s ease-in 0s;
  -o-transition: margin 0.2s ease-in 0s;
  transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 3rem;
  padding: 0;
  line-height: 3rem;
  font-size: 1rem;
  color: white;
  font-family: 'Raleway-Regular', Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "AN";
  padding-left: 1rem;
  background-color: #7acc00;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.onoffswitch.touch .onoffswitch-inner:before {
  background-color: #69bb00;
}
.onoffswitch-inner:after {
  content: "AUS";
  padding-right: 1rem;
  background-color: #a2a0a3;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}
.onoffswitch.touch .onoffswitch-inner:after {
  background-color: #918f92;
}
.onoffswitch-inner.helldunkel:before {
  content: "HELL";
}
.onoffswitch-inner.helldunkel:after {
  content: "DUNKEL";
}
.onoffswitch-switch {
  width: 2rem;
  margin: .5rem;
  background: #FFFFFF;
  border: .125rem solid #FFFFF;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3rem;
  -moz-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
.onoffswitch-switch.helldunkel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6rem;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
.semList.w5 li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.w6 li {
  float: left;
  width: 16.666666666666668%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.w7 li {
  float: left;
  width: 14.285714285714286%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.w8 li {
  float: left;
  width: 12.5%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.w9 li {
  float: left;
  width: 11.11111111111111%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.w10 li {
  float: left;
  width: 10%;
  text-align: center;
  padding: 0.8rem 0;
}
.semList.fak1 li:nth-child(1) {
  background-color: #003069;
}
.semList.fak1 li:nth-child(1).touch,
.semList.fak1 li:nth-child(1).active {
  background-color: #001a53;
}
.semList.fak1 li:nth-child(2) {
  background-color: #02356e;
}
.semList.fak1 li:nth-child(2).touch,
.semList.fak1 li:nth-child(2).active {
  background-color: #001f58;
}
.semList.fak1 li:nth-child(3) {
  background-color: #073a73;
}
.semList.fak1 li:nth-child(3).touch,
.semList.fak1 li:nth-child(3).active {
  background-color: #00245d;
}
.semList.fak1 li:nth-child(4) {
  background-color: #0c3f78;
}
.semList.fak1 li:nth-child(4).touch,
.semList.fak1 li:nth-child(4).active {
  background-color: #002962;
}
.semList.fak1 li:nth-child(5) {
  background-color: #11447d;
}
.semList.fak1 li:nth-child(5).touch,
.semList.fak1 li:nth-child(5).active {
  background-color: #002e67;
}
.semList.fak1 li:nth-child(6) {
  background-color: #164982;
}
.semList.fak1 li:nth-child(6).touch,
.semList.fak1 li:nth-child(6).active {
  background-color: #00336c;
}
.semList.fak1 li:nth-child(7) {
  background-color: #1b4e87;
}
.semList.fak1 li:nth-child(7).touch,
.semList.fak1 li:nth-child(7).active {
  background-color: #053871;
}
.semList.fak1 li:nth-child(8) {
  background-color: #20538c;
}
.semList.fak1 li:nth-child(8).touch,
.semList.fak1 li:nth-child(8).active {
  background-color: #0a3d76;
}
.semList.fak1 li:nth-child(9) {
  background-color: #255891;
}
.semList.fak1 li:nth-child(9).touch,
.semList.fak1 li:nth-child(9).active {
  background-color: #0f427b;
}
.semList.fak1 li:nth-child(10) {
  background-color: #2a5d96;
}
.semList.fak1 li:nth-child(10).touch,
.semList.fak1 li:nth-child(10).active {
  background-color: #144780;
}
.semList.fak2 li:nth-child(1) {
  background-color: #0081a0;
}
.semList.fak2 li:nth-child(1).touch,
.semList.fak2 li:nth-child(1).active {
  background-color: #006b8a;
}
.semList.fak2 li:nth-child(2) {
  background-color: #0086a5;
}
.semList.fak2 li:nth-child(2).touch,
.semList.fak2 li:nth-child(2).active {
  background-color: #00708f;
}
.semList.fak2 li:nth-child(3) {
  background-color: #008baa;
}
.semList.fak2 li:nth-child(3).touch,
.semList.fak2 li:nth-child(3).active {
  background-color: #007594;
}
.semList.fak2 li:nth-child(4) {
  background-color: #0590af;
}
.semList.fak2 li:nth-child(4).touch,
.semList.fak2 li:nth-child(4).active {
  background-color: #007a99;
}
.semList.fak2 li:nth-child(5) {
  background-color: #0a95b4;
}
.semList.fak2 li:nth-child(5).touch,
.semList.fak2 li:nth-child(5).active {
  background-color: #007f9e;
}
.semList.fak2 li:nth-child(6) {
  background-color: #0f9ab9;
}
.semList.fak2 li:nth-child(6).touch,
.semList.fak2 li:nth-child(6).active {
  background-color: #0084a3;
}
.semList.fak2 li:nth-child(7) {
  background-color: #149fbe;
}
.semList.fak2 li:nth-child(7).touch,
.semList.fak2 li:nth-child(7).active {
  background-color: #0089a8;
}
.semList.fak2 li:nth-child(8) {
  background-color: #19a4c3;
}
.semList.fak2 li:nth-child(8).touch,
.semList.fak2 li:nth-child(8).active {
  background-color: #038ead;
}
.semList.fak2 li:nth-child(9) {
  background-color: #1ea9c8;
}
.semList.fak2 li:nth-child(9).touch,
.semList.fak2 li:nth-child(9).active {
  background-color: #0893b2;
}
.semList.fak2 li:nth-child(10) {
  background-color: #23aecd;
}
.semList.fak2 li:nth-child(10).touch,
.semList.fak2 li:nth-child(10).active {
  background-color: #0d98b7;
}
.semList.fak3 li:nth-child(1) {
  background-color: #007bb5;
}
.semList.fak3 li:nth-child(1).touch,
.semList.fak3 li:nth-child(1).active {
  background-color: #00659f;
}
.semList.fak3 li:nth-child(2) {
  background-color: #0080ba;
}
.semList.fak3 li:nth-child(2).touch,
.semList.fak3 li:nth-child(2).active {
  background-color: #006aa4;
}
.semList.fak3 li:nth-child(3) {
  background-color: #0085bf;
}
.semList.fak3 li:nth-child(3).touch,
.semList.fak3 li:nth-child(3).active {
  background-color: #006fa9;
}
.semList.fak3 li:nth-child(4) {
  background-color: #058ac4;
}
.semList.fak3 li:nth-child(4).touch,
.semList.fak3 li:nth-child(4).active {
  background-color: #0074ae;
}
.semList.fak3 li:nth-child(5) {
  background-color: #0a8fc9;
}
.semList.fak3 li:nth-child(5).touch,
.semList.fak3 li:nth-child(5).active {
  background-color: #0079b3;
}
.semList.fak3 li:nth-child(6) {
  background-color: #0f94ce;
}
.semList.fak3 li:nth-child(6).touch,
.semList.fak3 li:nth-child(6).active {
  background-color: #007eb8;
}
.semList.fak3 li:nth-child(7) {
  background-color: #1499d3;
}
.semList.fak3 li:nth-child(7).touch,
.semList.fak3 li:nth-child(7).active {
  background-color: #0083bd;
}
.semList.fak3 li:nth-child(8) {
  background-color: #199ed8;
}
.semList.fak3 li:nth-child(8).touch,
.semList.fak3 li:nth-child(8).active {
  background-color: #0388c2;
}
.semList.fak3 li:nth-child(9) {
  background-color: #1ea3dd;
}
.semList.fak3 li:nth-child(9).touch,
.semList.fak3 li:nth-child(9).active {
  background-color: #088dc7;
}
.semList.fak3 li:nth-child(10) {
  background-color: #23a8e2;
}
.semList.fak3 li:nth-child(10).touch,
.semList.fak3 li:nth-child(10).active {
  background-color: #0d92cc;
}
.semList.fak4 li:nth-child(1) {
  background-color: #118ba0;
}
.semList.fak4 li:nth-child(1).touch,
.semList.fak4 li:nth-child(1).active {
  background-color: #00758a;
}
.semList.fak4 li:nth-child(2) {
  background-color: #1690a5;
}
.semList.fak4 li:nth-child(2).touch,
.semList.fak4 li:nth-child(2).active {
  background-color: #007a8f;
}
.semList.fak4 li:nth-child(3) {
  background-color: #1b95aa;
}
.semList.fak4 li:nth-child(3).touch,
.semList.fak4 li:nth-child(3).active {
  background-color: #057f94;
}
.semList.fak4 li:nth-child(4) {
  background-color: #209aaf;
}
.semList.fak4 li:nth-child(4).touch,
.semList.fak4 li:nth-child(4).active {
  background-color: #0a8499;
}
.semList.fak4 li:nth-child(5) {
  background-color: #259fb4;
}
.semList.fak4 li:nth-child(5).touch,
.semList.fak4 li:nth-child(5).active {
  background-color: #0f899e;
}
.semList.fak4 li:nth-child(6) {
  background-color: #2aa4b9;
}
.semList.fak4 li:nth-child(6).touch,
.semList.fak4 li:nth-child(6).active {
  background-color: #148ea3;
}
.semList.fak4 li:nth-child(7) {
  background-color: #2fa9be;
}
.semList.fak4 li:nth-child(7).touch,
.semList.fak4 li:nth-child(7).active {
  background-color: #1993a8;
}
.semList.fak4 li:nth-child(8) {
  background-color: #34aec3;
}
.semList.fak4 li:nth-child(8).touch,
.semList.fak4 li:nth-child(8).active {
  background-color: #1e98ad;
}
.semList.fak4 li:nth-child(9) {
  background-color: #39b3c8;
}
.semList.fak4 li:nth-child(9).touch,
.semList.fak4 li:nth-child(9).active {
  background-color: #239db2;
}
.semList.fak4 li:nth-child(10) {
  background-color: #3eb8cd;
}
.semList.fak4 li:nth-child(10).touch,
.semList.fak4 li:nth-child(10).active {
  background-color: #28a2b7;
}
.semList.fak5 li:nth-child(1) {
  background-color: #00529d;
}
.semList.fak5 li:nth-child(1).touch,
.semList.fak5 li:nth-child(1).active {
  background-color: #003c87;
}
.semList.fak5 li:nth-child(2) {
  background-color: #0057a2;
}
.semList.fak5 li:nth-child(2).touch,
.semList.fak5 li:nth-child(2).active {
  background-color: #00418c;
}
.semList.fak5 li:nth-child(3) {
  background-color: #005ca7;
}
.semList.fak5 li:nth-child(3).touch,
.semList.fak5 li:nth-child(3).active {
  background-color: #004691;
}
.semList.fak5 li:nth-child(4) {
  background-color: #0561ac;
}
.semList.fak5 li:nth-child(4).touch,
.semList.fak5 li:nth-child(4).active {
  background-color: #004b96;
}
.semList.fak5 li:nth-child(5) {
  background-color: #0a66b1;
}
.semList.fak5 li:nth-child(5).touch,
.semList.fak5 li:nth-child(5).active {
  background-color: #00509b;
}
.semList.fak5 li:nth-child(6) {
  background-color: #0f6bb6;
}
.semList.fak5 li:nth-child(6).touch,
.semList.fak5 li:nth-child(6).active {
  background-color: #0055a0;
}
.semList.fak5 li:nth-child(7) {
  background-color: #1470bb;
}
.semList.fak5 li:nth-child(7).touch,
.semList.fak5 li:nth-child(7).active {
  background-color: #005aa5;
}
.semList.fak5 li:nth-child(8) {
  background-color: #1975c0;
}
.semList.fak5 li:nth-child(8).touch,
.semList.fak5 li:nth-child(8).active {
  background-color: #035faa;
}
.semList.fak5 li:nth-child(9) {
  background-color: #1e7ac5;
}
.semList.fak5 li:nth-child(9).touch,
.semList.fak5 li:nth-child(9).active {
  background-color: #0864af;
}
.semList.fak5 li:nth-child(10) {
  background-color: #237fca;
}
.semList.fak5 li:nth-child(10).touch,
.semList.fak5 li:nth-child(10).active {
  background-color: #0d69b4;
}
.semList.fak6 li:nth-child(1) {
  background-color: #004594;
}
.semList.fak6 li:nth-child(1).touch,
.semList.fak6 li:nth-child(1).active {
  background-color: #002f7e;
}
.semList.fak6 li:nth-child(2) {
  background-color: #014a99;
}
.semList.fak6 li:nth-child(2).touch,
.semList.fak6 li:nth-child(2).active {
  background-color: #003483;
}
.semList.fak6 li:nth-child(3) {
  background-color: #064f9e;
}
.semList.fak6 li:nth-child(3).touch,
.semList.fak6 li:nth-child(3).active {
  background-color: #003988;
}
.semList.fak6 li:nth-child(4) {
  background-color: #0b54a3;
}
.semList.fak6 li:nth-child(4).touch,
.semList.fak6 li:nth-child(4).active {
  background-color: #003e8d;
}
.semList.fak6 li:nth-child(5) {
  background-color: #1059a8;
}
.semList.fak6 li:nth-child(5).touch,
.semList.fak6 li:nth-child(5).active {
  background-color: #004392;
}
.semList.fak6 li:nth-child(6) {
  background-color: #155ead;
}
.semList.fak6 li:nth-child(6).touch,
.semList.fak6 li:nth-child(6).active {
  background-color: #004897;
}
.semList.fak6 li:nth-child(7) {
  background-color: #1a63b2;
}
.semList.fak6 li:nth-child(7).touch,
.semList.fak6 li:nth-child(7).active {
  background-color: #044d9c;
}
.semList.fak6 li:nth-child(8) {
  background-color: #1f68b7;
}
.semList.fak6 li:nth-child(8).touch,
.semList.fak6 li:nth-child(8).active {
  background-color: #0952a1;
}
.semList.fak6 li:nth-child(9) {
  background-color: #246dbc;
}
.semList.fak6 li:nth-child(9).touch,
.semList.fak6 li:nth-child(9).active {
  background-color: #0e57a6;
}
.semList.fak6 li:nth-child(10) {
  background-color: #2972c1;
}
.semList.fak6 li:nth-child(10).touch,
.semList.fak6 li:nth-child(10).active {
  background-color: #135cab;
}
.semList.fak7 li:nth-child(1) {
  background-color: #0098bf;
}
.semList.fak7 li:nth-child(1).touch,
.semList.fak7 li:nth-child(1).active {
  background-color: #0082a9;
}
.semList.fak7 li:nth-child(2) {
  background-color: #009dc4;
}
.semList.fak7 li:nth-child(2).touch,
.semList.fak7 li:nth-child(2).active {
  background-color: #0087ae;
}
.semList.fak7 li:nth-child(3) {
  background-color: #00a2c9;
}
.semList.fak7 li:nth-child(3).touch,
.semList.fak7 li:nth-child(3).active {
  background-color: #008cb3;
}
.semList.fak7 li:nth-child(4) {
  background-color: #05a7ce;
}
.semList.fak7 li:nth-child(4).touch,
.semList.fak7 li:nth-child(4).active {
  background-color: #0091b8;
}
.semList.fak7 li:nth-child(5) {
  background-color: #0aacd3;
}
.semList.fak7 li:nth-child(5).touch,
.semList.fak7 li:nth-child(5).active {
  background-color: #0096bd;
}
.semList.fak7 li:nth-child(6) {
  background-color: #0fb1d8;
}
.semList.fak7 li:nth-child(6).touch,
.semList.fak7 li:nth-child(6).active {
  background-color: #009bc2;
}
.semList.fak7 li:nth-child(7) {
  background-color: #14b6dd;
}
.semList.fak7 li:nth-child(7).touch,
.semList.fak7 li:nth-child(7).active {
  background-color: #00a0c7;
}
.semList.fak7 li:nth-child(8) {
  background-color: #19bbe2;
}
.semList.fak7 li:nth-child(8).touch,
.semList.fak7 li:nth-child(8).active {
  background-color: #03a5cc;
}
.semList.fak7 li:nth-child(9) {
  background-color: #1ec0e7;
}
.semList.fak7 li:nth-child(9).touch,
.semList.fak7 li:nth-child(9).active {
  background-color: #08aad1;
}
.semList.fak7 li:nth-child(10) {
  background-color: #23c5ec;
}
.semList.fak7 li:nth-child(10).touch,
.semList.fak7 li:nth-child(10).active {
  background-color: #0dafd6;
}
.semList.fak8 li:nth-child(1) {
  background-color: #007576;
}
.semList.fak8 li:nth-child(1).touch,
.semList.fak8 li:nth-child(1).active {
  background-color: #005f60;
}
.semList.fak8 li:nth-child(2) {
  background-color: #007a7b;
}
.semList.fak8 li:nth-child(2).touch,
.semList.fak8 li:nth-child(2).active {
  background-color: #006465;
}
.semList.fak8 li:nth-child(3) {
  background-color: #007f80;
}
.semList.fak8 li:nth-child(3).touch,
.semList.fak8 li:nth-child(3).active {
  background-color: #00696a;
}
.semList.fak8 li:nth-child(4) {
  background-color: #058485;
}
.semList.fak8 li:nth-child(4).touch,
.semList.fak8 li:nth-child(4).active {
  background-color: #006e6f;
}
.semList.fak8 li:nth-child(5) {
  background-color: #0a898a;
}
.semList.fak8 li:nth-child(5).touch,
.semList.fak8 li:nth-child(5).active {
  background-color: #007374;
}
.semList.fak8 li:nth-child(6) {
  background-color: #0f8e8f;
}
.semList.fak8 li:nth-child(6).touch,
.semList.fak8 li:nth-child(6).active {
  background-color: #007879;
}
.semList.fak8 li:nth-child(7) {
  background-color: #149394;
}
.semList.fak8 li:nth-child(7).touch,
.semList.fak8 li:nth-child(7).active {
  background-color: #007d7e;
}
.semList.fak8 li:nth-child(8) {
  background-color: #199899;
}
.semList.fak8 li:nth-child(8).touch,
.semList.fak8 li:nth-child(8).active {
  background-color: #038283;
}
.semList.fak8 li:nth-child(9) {
  background-color: #1e9d9e;
}
.semList.fak8 li:nth-child(9).touch,
.semList.fak8 li:nth-child(9).active {
  background-color: #088788;
}
.semList.fak8 li:nth-child(10) {
  background-color: #23a2a3;
}
.semList.fak8 li:nth-child(10).touch,
.semList.fak8 li:nth-child(10).active {
  background-color: #0d8c8d;
}
.semList.fak9 li:nth-child(1) {
  background-color: #007a54;
}
.semList.fak9 li:nth-child(1).touch,
.semList.fak9 li:nth-child(1).active {
  background-color: #00643e;
}
.semList.fak9 li:nth-child(2) {
  background-color: #017f59;
}
.semList.fak9 li:nth-child(2).touch,
.semList.fak9 li:nth-child(2).active {
  background-color: #006943;
}
.semList.fak9 li:nth-child(3) {
  background-color: #06845e;
}
.semList.fak9 li:nth-child(3).touch,
.semList.fak9 li:nth-child(3).active {
  background-color: #006e48;
}
.semList.fak9 li:nth-child(4) {
  background-color: #0b8963;
}
.semList.fak9 li:nth-child(4).touch,
.semList.fak9 li:nth-child(4).active {
  background-color: #00734d;
}
.semList.fak9 li:nth-child(5) {
  background-color: #108e68;
}
.semList.fak9 li:nth-child(5).touch,
.semList.fak9 li:nth-child(5).active {
  background-color: #007852;
}
.semList.fak9 li:nth-child(6) {
  background-color: #15936d;
}
.semList.fak9 li:nth-child(6).touch,
.semList.fak9 li:nth-child(6).active {
  background-color: #007d57;
}
.semList.fak9 li:nth-child(7) {
  background-color: #1a9872;
}
.semList.fak9 li:nth-child(7).touch,
.semList.fak9 li:nth-child(7).active {
  background-color: #04825c;
}
.semList.fak9 li:nth-child(8) {
  background-color: #1f9d77;
}
.semList.fak9 li:nth-child(8).touch,
.semList.fak9 li:nth-child(8).active {
  background-color: #098761;
}
.semList.fak9 li:nth-child(9) {
  background-color: #24a27c;
}
.semList.fak9 li:nth-child(9).touch,
.semList.fak9 li:nth-child(9).active {
  background-color: #0e8c66;
}
.semList.fak9 li:nth-child(10) {
  background-color: #29a781;
}
.semList.fak9 li:nth-child(10).touch,
.semList.fak9 li:nth-child(10).active {
  background-color: #13916b;
}
.semList.fak10 li:nth-child(1) {
  background-color: #138d82;
}
.semList.fak10 li:nth-child(1).touch,
.semList.fak10 li:nth-child(1).active {
  background-color: #00776c;
}
.semList.fak10 li:nth-child(2) {
  background-color: #189287;
}
.semList.fak10 li:nth-child(2).touch,
.semList.fak10 li:nth-child(2).active {
  background-color: #027c71;
}
.semList.fak10 li:nth-child(3) {
  background-color: #1d978c;
}
.semList.fak10 li:nth-child(3).touch,
.semList.fak10 li:nth-child(3).active {
  background-color: #078176;
}
.semList.fak10 li:nth-child(4) {
  background-color: #229c91;
}
.semList.fak10 li:nth-child(4).touch,
.semList.fak10 li:nth-child(4).active {
  background-color: #0c867b;
}
.semList.fak10 li:nth-child(5) {
  background-color: #27a196;
}
.semList.fak10 li:nth-child(5).touch,
.semList.fak10 li:nth-child(5).active {
  background-color: #118b80;
}
.semList.fak10 li:nth-child(6) {
  background-color: #2ca69b;
}
.semList.fak10 li:nth-child(6).touch,
.semList.fak10 li:nth-child(6).active {
  background-color: #169085;
}
.semList.fak10 li:nth-child(7) {
  background-color: #31aba0;
}
.semList.fak10 li:nth-child(7).touch,
.semList.fak10 li:nth-child(7).active {
  background-color: #1b958a;
}
.semList.fak10 li:nth-child(8) {
  background-color: #36b0a5;
}
.semList.fak10 li:nth-child(8).touch,
.semList.fak10 li:nth-child(8).active {
  background-color: #209a8f;
}
.semList.fak10 li:nth-child(9) {
  background-color: #3bb5aa;
}
.semList.fak10 li:nth-child(9).touch,
.semList.fak10 li:nth-child(9).active {
  background-color: #259f94;
}
.semList.fak10 li:nth-child(10) {
  background-color: #40baaf;
}
.semList.fak10 li:nth-child(10).touch,
.semList.fak10 li:nth-child(10).active {
  background-color: #2aa499;
}
.semList.fak11 li:nth-child(1) {
  background-color: #e5710a;
}
.semList.fak11 li:nth-child(1).touch,
.semList.fak11 li:nth-child(1).active {
  background-color: #cf5b00;
}
.semList.fak11 li:nth-child(2) {
  background-color: #ea760f;
}
.semList.fak11 li:nth-child(2).touch,
.semList.fak11 li:nth-child(2).active {
  background-color: #d46000;
}
.semList.fak11 li:nth-child(3) {
  background-color: #ef7b14;
}
.semList.fak11 li:nth-child(3).touch,
.semList.fak11 li:nth-child(3).active {
  background-color: #d96500;
}
.semList.fak11 li:nth-child(4) {
  background-color: #f48019;
}
.semList.fak11 li:nth-child(4).touch,
.semList.fak11 li:nth-child(4).active {
  background-color: #de6a03;
}
.semList.fak11 li:nth-child(5) {
  background-color: #f9851e;
}
.semList.fak11 li:nth-child(5).touch,
.semList.fak11 li:nth-child(5).active {
  background-color: #e36f08;
}
.semList.fak11 li:nth-child(6) {
  background-color: #fe8a23;
}
.semList.fak11 li:nth-child(6).touch,
.semList.fak11 li:nth-child(6).active {
  background-color: #e8740d;
}
.semList.fak11 li:nth-child(7) {
  background-color: #ff8f28;
}
.semList.fak11 li:nth-child(7).touch,
.semList.fak11 li:nth-child(7).active {
  background-color: #ed7912;
}
.semList.fak11 li:nth-child(8) {
  background-color: #ff942d;
}
.semList.fak11 li:nth-child(8).touch,
.semList.fak11 li:nth-child(8).active {
  background-color: #f27e17;
}
.semList.fak11 li:nth-child(9) {
  background-color: #ff9932;
}
.semList.fak11 li:nth-child(9).touch,
.semList.fak11 li:nth-child(9).active {
  background-color: #f7831c;
}
.semList.fak11 li:nth-child(10) {
  background-color: #ff9e37;
}
.semList.fak11 li:nth-child(10).touch,
.semList.fak11 li:nth-child(10).active {
  background-color: #fc8821;
}
.semList.fak12 li:nth-child(1) {
  background-color: #35ae4f;
}
.semList.fak12 li:nth-child(1).touch,
.semList.fak12 li:nth-child(1).active {
  background-color: #1f9839;
}
.semList.fak12 li:nth-child(2) {
  background-color: #3ab354;
}
.semList.fak12 li:nth-child(2).touch,
.semList.fak12 li:nth-child(2).active {
  background-color: #249d3e;
}
.semList.fak12 li:nth-child(3) {
  background-color: #3fb859;
}
.semList.fak12 li:nth-child(3).touch,
.semList.fak12 li:nth-child(3).active {
  background-color: #29a243;
}
.semList.fak12 li:nth-child(4) {
  background-color: #44bd5e;
}
.semList.fak12 li:nth-child(4).touch,
.semList.fak12 li:nth-child(4).active {
  background-color: #2ea748;
}
.semList.fak12 li:nth-child(5) {
  background-color: #49c263;
}
.semList.fak12 li:nth-child(5).touch,
.semList.fak12 li:nth-child(5).active {
  background-color: #33ac4d;
}
.semList.fak12 li:nth-child(6) {
  background-color: #4ec768;
}
.semList.fak12 li:nth-child(6).touch,
.semList.fak12 li:nth-child(6).active {
  background-color: #38b152;
}
.semList.fak12 li:nth-child(7) {
  background-color: #53cc6d;
}
.semList.fak12 li:nth-child(7).touch,
.semList.fak12 li:nth-child(7).active {
  background-color: #3db657;
}
.semList.fak12 li:nth-child(8) {
  background-color: #58d172;
}
.semList.fak12 li:nth-child(8).touch,
.semList.fak12 li:nth-child(8).active {
  background-color: #42bb5c;
}
.semList.fak12 li:nth-child(9) {
  background-color: #5dd677;
}
.semList.fak12 li:nth-child(9).touch,
.semList.fak12 li:nth-child(9).active {
  background-color: #47c061;
}
.semList.fak12 li:nth-child(10) {
  background-color: #62db7c;
}
.semList.fak12 li:nth-child(10).touch,
.semList.fak12 li:nth-child(10).active {
  background-color: #4cc566;
}
.semList.fak13 li:nth-child(1) {
  background-color: #aa1772;
}
.semList.fak13 li:nth-child(1).touch,
.semList.fak13 li:nth-child(1).active {
  background-color: #94015c;
}
.semList.fak13 li:nth-child(2) {
  background-color: #af1c77;
}
.semList.fak13 li:nth-child(2).touch,
.semList.fak13 li:nth-child(2).active {
  background-color: #990661;
}
.semList.fak13 li:nth-child(3) {
  background-color: #b4217c;
}
.semList.fak13 li:nth-child(3).touch,
.semList.fak13 li:nth-child(3).active {
  background-color: #9e0b66;
}
.semList.fak13 li:nth-child(4) {
  background-color: #b92681;
}
.semList.fak13 li:nth-child(4).touch,
.semList.fak13 li:nth-child(4).active {
  background-color: #a3106b;
}
.semList.fak13 li:nth-child(5) {
  background-color: #be2b86;
}
.semList.fak13 li:nth-child(5).touch,
.semList.fak13 li:nth-child(5).active {
  background-color: #a81570;
}
.semList.fak13 li:nth-child(6) {
  background-color: #c3308b;
}
.semList.fak13 li:nth-child(6).touch,
.semList.fak13 li:nth-child(6).active {
  background-color: #ad1a75;
}
.semList.fak13 li:nth-child(7) {
  background-color: #c83590;
}
.semList.fak13 li:nth-child(7).touch,
.semList.fak13 li:nth-child(7).active {
  background-color: #b21f7a;
}
.semList.fak13 li:nth-child(8) {
  background-color: #cd3a95;
}
.semList.fak13 li:nth-child(8).touch,
.semList.fak13 li:nth-child(8).active {
  background-color: #b7247f;
}
.semList.fak13 li:nth-child(9) {
  background-color: #d23f9a;
}
.semList.fak13 li:nth-child(9).touch,
.semList.fak13 li:nth-child(9).active {
  background-color: #bc2984;
}
.semList.fak13 li:nth-child(10) {
  background-color: #d7449f;
}
.semList.fak13 li:nth-child(10).touch,
.semList.fak13 li:nth-child(10).active {
  background-color: #c12e89;
}
.semList.fak14 li:nth-child(1) {
  background-color: #821a3d;
}
.semList.fak14 li:nth-child(1).touch,
.semList.fak14 li:nth-child(1).active {
  background-color: #6c0427;
}
.semList.fak14 li:nth-child(2) {
  background-color: #871f42;
}
.semList.fak14 li:nth-child(2).touch,
.semList.fak14 li:nth-child(2).active {
  background-color: #71092c;
}
.semList.fak14 li:nth-child(3) {
  background-color: #8c2447;
}
.semList.fak14 li:nth-child(3).touch,
.semList.fak14 li:nth-child(3).active {
  background-color: #760e31;
}
.semList.fak14 li:nth-child(4) {
  background-color: #91294c;
}
.semList.fak14 li:nth-child(4).touch,
.semList.fak14 li:nth-child(4).active {
  background-color: #7b1336;
}
.semList.fak14 li:nth-child(5) {
  background-color: #962e51;
}
.semList.fak14 li:nth-child(5).touch,
.semList.fak14 li:nth-child(5).active {
  background-color: #80183b;
}
.semList.fak14 li:nth-child(6) {
  background-color: #9b3356;
}
.semList.fak14 li:nth-child(6).touch,
.semList.fak14 li:nth-child(6).active {
  background-color: #851d40;
}
.semList.fak14 li:nth-child(7) {
  background-color: #a0385b;
}
.semList.fak14 li:nth-child(7).touch,
.semList.fak14 li:nth-child(7).active {
  background-color: #8a2245;
}
.semList.fak14 li:nth-child(8) {
  background-color: #a53d60;
}
.semList.fak14 li:nth-child(8).touch,
.semList.fak14 li:nth-child(8).active {
  background-color: #8f274a;
}
.semList.fak14 li:nth-child(9) {
  background-color: #aa4265;
}
.semList.fak14 li:nth-child(9).touch,
.semList.fak14 li:nth-child(9).active {
  background-color: #942c4f;
}
.semList.fak14 li:nth-child(10) {
  background-color: #af476a;
}
.semList.fak14 li:nth-child(10).touch,
.semList.fak14 li:nth-child(10).active {
  background-color: #993154;
}
.footer {
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1rem;
  background-color: #eeecef;
  box-sizing: border-box;
}
.footer .button {
  height: 3rem;
  width: 49%;
  text-align: center;
}
.footer .button label {
  display: inline-block;
  padding: 0.8rem 0.8rem 0.8rem 0;
  max-width: 50%;
}
.footer .button.by.touch {
  background-color: #69bb00;
}
.footer .button.bn.touch {
  background-color: #918f92;
}
.footer .button img {
  display: inline-block;
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.4rem;
}
html,
body {
  background: #eeecef;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Raleway-Regular";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul,
li {
  list-style-type: none;
}
img {
  display: block;
  vertical-align: middle;
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.8rem;
}
h1,
h2,
h3 {
  display: block;
  box-sizing: border-box;
}
h1 {
  margin: 2rem 1rem 2rem;
  font-size: 3rem;
  font-family: 'Raleway-ExtraLight';
}
h3 {
  margin: 1rem;
  font-size: 1rem;
  font-family: 'Raleway-Light';
}
input[type=text],
input[type=email],
input[type=password] {
  border: 0;
  border-bottom: 1px solid;
  background-color: #f3f1f4;
  padding: 0 0.8rem;
}
/*
 * The Select menu of the WebView is buggy, this hack seems to work.
 */
.selectWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  min-width: 14rem;
}
.selectWrapper select {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 2.4000000000000004rem;
  width: 100%;
  opacity: .01;
}
.selectWrapper select ~ .select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background-color: #f3f1f4;
  padding: 0.8rem;
  width: 100%;
  overflow: hidden;
}
.selectWrapper select ~ .select:after {
  content: "";
  width: 2rem;
  height: 2rem;
  bottom: -1rem;
  right: -1rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.selectWrapper select ~ .select .selectContent {
  overflow: hidden;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.selectWrapper.small select {
  font-size: 1.6500000000000001rem;
}
.selectWrapper.small select ~ .select {
  padding: 0.4rem;
}
.selectWrapper.small select ~ .select:after {
  width: 2.8rem;
  height: 2.8rem;
  bottom: -1.4rem;
  right: -1.4rem;
}
.button {
  width: 100%;
  height: 3rem;
  text-align: center;
}
.button img {
  display: inline-block;
}
.button label {
  display: inline-block;
  padding: 0.8rem 0.8rem 0.8rem 0;
  max-width: 75%;
}
.button.by.touch {
  background-color: #69bb00;
}
.button.bn.touch {
  background-color: #918f92;
}
.button.be.touch {
  background-color: #6900bb;
}
.button.bm.touch {
  background-color: #0069bb;
}
.button.small {
  height: 2rem;
}
.template,
.fragment {
  display: none;
}
#overlay .fragment,
#content .fragment,
#header .fragment {
  display: block;
  height: 100%;
}
.full {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #eeecef;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
.full.right {
  -webkit-transform: translate3d(4rem, 0, 0);
  transform: translate3d(4rem, 0, 0);
}
.full.left {
  -webkit-transform: translate3d(-85%, 0, 0);
  transform: translate3d(-85%, 0, 0);
}
.overlay {
  z-index: 10;
  -webkit-transition-duration: .2s;
  -webkit-transform: translate3d(0, 0, 0);
}
.overlay.out {
  -webkit-transform: translate3d(0, -100%, 0);
}
