@import "../../style/_colors.less";
@import "../../style/_dimens.less";

.overlay .login {
    background: url('../../asset/img/login.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
    z-index: 3;

    .wrapper {
        position: absolute;
        bottom: 0;
        width: 80%;
        margin: 0 10% 25%;
        border-spacing: 0;
        background-color: rgba(255,255,255,0.5);

        table {
            margin: @item-padding;
        }

        .whitey {
            background-color: @color-bgr-white;
        }

        .space {
            line-height: 0.5rem;
            background-color: transparent;
        }

        input, button {
            -webkit-text-shadow: none;
            text-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 1.5rem;
            height: 3rem;
            border: 0;
        }

        .iconBackground {
            width: 3rem;
            text-align: center;
            background-color: @color-bgr;
        }

        input {
            color: #bbb;
            background-color: @color-bgr-white;
            padding: 0 5%;
            width: 80%;
        }

        button {
            font-family: 'Raleway-Regular';
            color: @color-font-light;
            background-color: @color-bgr-yes;
            width: 100%;

            &.touch {
                background-color: @color-bgr-yes - #111;
            }
        }
    }
}