.content .courses {
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
        padding: 0.6rem @body-padding @header-height + 0.6rem;

        li {
            min-height: @header-height;
            width: 100%;
            text-align: left;

            .open { display: none; }
            .close { display: inline-block; }
            &.open {
                .open { display: inline-block; }
                .close { display: none; }
            }

            &.fach {
                display: table;
            }

            &.touch {
                background: @color-bgr + @color-main/5;
            }

            p {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                &.small {
                    width: @header-height;
                }
            }

            &.lectures {
                table {
                    tr {
                        .on, .off { display: none; }
                        &.on .on { display: inline-block; }
                        &.off .off { display: inline-block; }
                        &.touch { background: @color-bgr + @color-main/5; }
                    }
                }
                .studygroup {
                    padding: 0 .5*@item-padding;
                    margin: 0;
                    background-color: rgba(255,255,255,.05);
                }
            }
        }
    }
}

.header .courses {
    .headerTitle {
        padding: .5*(@header-height - @font-regular-lineheight - @item-padding) 0;
        height: @font-regular-lineheight + .5*@item-padding;
        max-width: 60%;

        select {
            & ~ .select {
                background-color: transparent;
            }
        }
    }
}

.footer .courses img {
    padding: 0;
    margin: 0;
}