.content .courses {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .courses ul {
  padding: 0.6rem 1rem 3.6rem;
}
.content .courses ul li label {
  min-height: 2.8rem;
  display: block;
}
.content .courses ul li label.touch {
  background: #23394d;
}
.content .courses ul li label td {
  vertical-align: top;
}
.content .courses ul li label img {
  vertical-align: baseline;
}
.content .courses ul li label .label {
  padding: 0.65rem 0.8rem 0;
}
.content .courses ul li label .label:first-line {
  color: rgba(255, 255, 255, 0.9);
}
.content .courses ul li .on,
.content .courses ul li .off {
  display: none;
}
.content .courses ul li.on .on {
  display: inline-block;
}
.content .courses ul li.off .off {
  display: inline-block;
}
