@import "../../style/_colors.less";
@import "../../style/_dimens.less";

.content .courses {
    overflow-y: scroll;
    overflow-x: hidden;

    ul {
        padding: 0.6rem @body-padding @header-height + 0.6rem;

        li {

            label {
                min-height: 2*@font-regular-lineheight;
                display: block;

                &.touch {
                    background: @color-bgr + @color-main/5;
                }
                td {
                    vertical-align: top;
                }
                img {
                    vertical-align: baseline;
                }
                .label {
                    padding: @item-padding - 0.15rem @item-padding 0;
                    font-size: @font-small-size;
                    line-height: @font-small-lineheight;

                    &:first-line {
                        font-family: 'Raleway-SemiBold';
                        font-size: @font-regular-size;
                        line-height: @font-regular-lineheight;
                    }
                }
            }
            .on, .off { display: none; }

            &.on .on { display: inline-block; }
            &.off .off { display: inline-block; }
        }
    }
}