.content .courses {
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .courses ul {
  padding: 0.6rem 1rem 3.6rem;
}
.content .courses ul li label {
  min-height: 2.8rem;
  display: block;
}
.content .courses ul li label.touch {
  background: #23394d;
}
.content .courses ul li label td {
  vertical-align: top;
}
.content .courses ul li label img {
  vertical-align: baseline;
}
.content .courses ul li label .label {
  padding: 0.65rem 0.8rem 0;
}
.content .courses ul li label .label:first-line {
  color: rgba(255, 255, 255, 0.9);
}
.content .courses ul li .on,
.content .courses ul li .off {
  display: none;
}
.content .courses ul li.on .on {
  display: inline-block;
}
.content .courses ul li.off .off {
  display: inline-block;
}
.content .courses .fak1,
.content .courses .fak2,
.content .courses .fak3,
.content .courses .fak4,
.content .courses .fak5,
.content .courses .fak6,
.content .courses .fak7,
.content .courses .sem1,
.content .courses .sem2,
.content .courses .sem3,
.content .courses .sem4,
.content .courses .sem5,
.content .courses .sem6,
.content .courses .sem7 {
  display: none;
}
.content .courses.fak1 .fak1 {
  display: block;
}
.content .courses.fak2 .fak2 {
  display: block;
}
.content .courses.fak3 .fak3 {
  display: block;
}
.content .courses.fak4 .fak4 {
  display: block;
}
.content .courses.fak5 .fak5 {
  display: block;
}
.content .courses.fak6 .fak6 {
  display: block;
}
.content .courses.fak7 .fak7 {
  display: block;
}
.content .courses.sem1 .sem1 {
  display: block;
}
.content .courses.sem2 .sem2 {
  display: block;
}
.content .courses.sem3 .sem3 {
  display: block;
}
.content .courses.sem4 .sem4 {
  display: block;
}
.content .courses.sem5 .sem5 {
  display: block;
}
.content .courses.sem6 .sem6 {
  display: block;
}
.content .courses.sem7 .sem7 {
  display: block;
}
.header .courses .fak1,
.header .courses .fak2,
.header .courses .fak3,
.header .courses .fak4,
.header .courses .fak5,
.header .courses .fak6,
.header .courses .fak7 {
  display: none;
}
.header .courses.fak1 .fak1 {
  display: block;
}
.header .courses.fak2 .fak2 {
  display: block;
}
.header .courses.fak3 .fak3 {
  display: block;
}
.header .courses.fak4 .fak4 {
  display: block;
}
.header .courses.fak5 .fak5 {
  display: block;
}
.header .courses.fak6 .fak6 {
  display: block;
}
.header .courses.fak7 .fak7 {
  display: block;
}
